In [1]:
import time
import requests
import numpy as np
import pandas as pd

In [2]:
def all_crypto():
    url = "https://api.coingecko.com/api/v3/coins/list"
    try:
        response = requests.get(url)
        response.raise_for_status()
        data = response.json()
        
        return data
    except requests.exceptions.HTTPError as e:
        print("Error retrieving data:", e)
        return None

In [3]:
def top_crypto(n=100):
    url = "https://api.coingecko.com/api/v3/coins/markets"
    params = {
        "vs_currency": "usd",
        "order": "market_cap_desc",
        "per_page": n,
        "page": 1,
        "sparkline": False,
    }
    
    try:
        response = requests.get(url, params=params)
        response.raise_for_status()
        data = response.json()
        
        return data
    except requests.exceptions.HTTPError as e:
        print("Error retrieving data:", e)
        return None

In [114]:
all_list = all_crypto()

In [121]:
all_list[0]

{'id': '01coin', 'symbol': 'zoc', 'name': '01coin'}

In [4]:
top_crypto_list = top_crypto(200)

In [5]:
# for crypto in top_crypto_list:
#     print(crypto['id'], crypto['symbol'])

In [122]:
url = 'https://api.coingecko.com/api/v3/coins/solana'
response = requests.get(url)
data = response.json()
print(data['links']['repos_url']['github'][0])

https://github.com/solana-labs/solana

In [123]:
data.keys()

dict_keys(['id', 'symbol', 'name', 'asset_platform_id', 'platforms', 'detail_platforms', 'block_time_in_minutes', 'hashing_algorithm', 'categories', 'public_notice', 'additional_notices', 'localization', 'description', 'links', 'image', 'country_origin', 'genesis_date', 'sentiment_votes_up_percentage', 'sentiment_votes_down_percentage', 'ico_data', 'watchlist_portfolio_users', 'market_cap_rank', 'coingecko_rank', 'coingecko_score', 'developer_score', 'community_score', 'liquidity_score', 'public_interest_score', 'market_data', 'community_data', 'developer_data', 'public_interest_stats', 'status_updates', 'last_updated', 'tickers'])

In [130]:
data['categories']

['Smart Contract Platform', 'Solana Ecosystem', 'Layer 1 (L1)']

In [151]:
(data['watchlist_portfolio_users'], data['coingecko_rank'], data['coingecko_score'],
data['developer_score'], data['community_score'], data['liquidity_score'], data['public_interest_score'])

(550359, 4, 65.857, 89.605, 50.646, 74.593, 0.104)

In [14]:
stats = {}
for crypto in top_crypto_list:
    elem = {}
    crypto_id = crypto['id']
    crypto_symbol = crypto['symbol']
    url = f'https://api.coingecko.com/api/v3/coins/{crypto_id}'
    while True:
        try:
            response = requests.get(url)
            response.raise_for_status()
            data = response.json()
            break
        except requests.exceptions.HTTPError as e:
            print("Error retrieving data:", e)
            print('Sleeping for 10 seconds ...')
            time.sleep(10)
    elem['twtr_users'] = data['community_data']['twitter_followers']
    elem['tlgm_users'] = data['community_data']['telegram_channel_user_count']
    elem['forks'] = data['developer_data']['forks']
    elem['stars'] = data['developer_data']['stars']
    elem['subs'] = data['developer_data']['subscribers']
    elem['total_issues'] = data['developer_data']['total_issues']
    elem['closed_issues'] = data['developer_data']['closed_issues']
    elem['pull_merged'] = data['developer_data']['pull_requests_merged']
    elem['pull_contributors'] = data['developer_data']['pull_request_contributors']
    elem['code_adds_4w'] = data['developer_data']['code_additions_deletions_4_weeks']['additions']
    elem['code_dels_4w'] = data['developer_data']['code_additions_deletions_4_weeks']['deletions']
    elem['commits_4w'] = data['developer_data']['commit_count_4_weeks']
    commits_4w_series = data['developer_data']['last_4_weeks_commit_activity_series']
    elem['commits_4w_per_day_mean'] = np.mean(commits_4w_series)
    elem['commits_4w_per_day_std'] = np.std(commits_4w_series)
    stats[crypto_symbol] = elem
stats = pd.DataFrame.from_dict(stats, orient='index')
stats['code_dels_4w'] = stats['code_dels_4w'].abs()

c:\users\aeali\pycharmprojects\trading-bot\venv\lib\site-packages\numpy\core\fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\users\aeali\pycharmprojects\trading-bot\venv\lib\site-packages\numpy\core\_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
c:\users\aeali\pycharmprojects\trading-bot\venv\lib\site-packages\numpy\core\_methods.py:262: RuntimeWarning: Degrees of freedom <= 0 for slice
  ret = _var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
c:\users\aeali\pycharmprojects\trading-bot\venv\lib\site-packages\numpy\core\_methods.py:222: RuntimeWarning: invalid value encountered in true_divide
  arrmean = um.true_divide(arrmean, div, out=arrmean, casting='unsafe',
c:\users\aeali\pycharmprojects\trading-bot\venv\lib\site-packages\numpy\core\_methods.py:254: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/wrapped-bitcoin
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/wrapped-bitcoin
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/wrapped-bitcoin
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/wrapped-bitcoin
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/wrapped-bitcoin
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/wrapped-bitcoin
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/binance-usd
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/binance-usd
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/binance-usd
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/binance-usd
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/binance-usd
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/binance-usd
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/crypto-com-chain
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/crypto-com-chain
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/crypto-com-chain
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/crypto-com-chain
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/crypto-com-chain
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/crypto-com-chain
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/havven
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/havven
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/havven
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/havven
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/havven
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/havven
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/tezos
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/tezos
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/tezos
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/tezos
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/tezos
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/tezos
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/flow
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/flow
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/flow
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/flow
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/flow
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/flow
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/gmx
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/gmx
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/gmx
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/gmx
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/gmx
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/gmx
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/sui
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/sui
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/sui
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/sui
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/sui
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/sui
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/pancakeswap-token
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/pancakeswap-token
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/pancakeswap-token
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/pancakeswap-token
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/pancakeswap-token
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/pancakeswap-token
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/qtum
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/qtum
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/qtum
Sleeping for 10 seconds ...

Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/qtum
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/qtum
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/qtum
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/stepn
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/stepn
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/stepn
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/stepn
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/stepn
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/stepn
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/decred
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/decred
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/decred
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/decred
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/decred
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/decred
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/convex-crv
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/convex-crv
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/convex-crv
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/convex-crv
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/convex-crv
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/convex-crv
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/golem
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/golem
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/golem
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/golem
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/golem
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/golem
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/baby-doge-coin
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/baby-doge-coin
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/baby-doge-coin
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/baby-doge-coin
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/baby-doge-coin
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/baby-doge-coin
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/iostoken
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/iostoken
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/iostoken
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/iostoken
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/iostoken
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/iostoken
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/seth2
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/seth2
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/seth2
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/seth2
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/seth2
Sleeping for 10 seconds ...
Error retrieving data: 429 Client Error: Too Many Requests for url: https://api.coingecko.com/api/v3/coins/seth2
Sleeping for 10 seconds ...

In [45]:
stats

,twtr_users,tlgm_users,forks,stars,subs,total_issues,closed_issues,pull_merged,pull_contributors,code_adds_4w,code_dels_4w,commits_4w,commits_4w_per_day_mean,commits_4w_per_day_std
btc,5900803,NaN,35444,70546,3941,7528,7176,10834,834,1617.0,996.0,192,NaN,NaN
eth,3088655,NaN,18083,43057,2213,7376,7122,5391,845,4161.0,12685.0,53,1.642857,2.223483
usdt,381554,NaN,0,0,0,0,0,0,0,NaN,NaN,0,NaN,NaN
xrp,2659958,NaN,1454,4340,510,1224,922,546,49,18634.0,942.0,19,0.964286,1.085033
bnb,10646893,NaN,2136,3832,499,126,126,55,26,0.0,0.0,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
rbn,41372,NaN,0,0,0,0,0,0,0,NaN,NaN,0,NaN,NaN
bora,162305,2156.0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,NaN
one,403595,22927.0,289,1457,95,1176,1105,2681,74,355.0,240.0,21,0.321429,0.657570
unibot,15059,6296.0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,NaN
krd,13493,12688.0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,NaN

In [29]:
stats.sort_values('forks', ascending=False).head(10)

,twtr_users,tlgm_users,forks,stars,subs,total_issues,closed_issues,pull_merged,pull_contributors,code_adds_4w,code_dels_4w,commits_4w,commits_4w_per_day_mean,commits_4w_per_day_std
btc,5900803,NaN,35444,70546,3941,7528,7176,10834,834,1617.0,-996.0,192,NaN,NaN
eth,3088655,NaN,18083,43057,2213,7376,7122,5391,845,4161.0,-12685.0,53,1.642857,2.223483
sui,620402,NaN,12053,5135,145,3108,1980,7455,184,51613.0,-49419.0,277,6.785714,6.337852
xmr,482545,NaN,3519,7991,498,2893,2483,4802,317,2.0,0.0,33,0.000000,0.000000
sol,2272282,54230.0,3102,10509,270,4948,4271,22229,388,27679.0,-24691.0,205,6.214286,5.942325
ltc,215144,NaN,3058,4210,507,525,459,119,48,0.0,0.0,0,0.000000,0.000000
doge,3824483,NaN,2788,14314,848,1168,1022,1204,158,0.0,0.0,0,0.000000,0.000000
bnb,10646893,NaN,2136,3832,499,126,126,55,26,0.0,0.0,0,0.000000,0.000000
zec,86982,2308.0,2034,4760,380,3766,2809,1787,100,0.0,0.0,8,2.357143,3.847209
dot,1415502,25207.0,1609,6952,486,2095,1573,4065,250,9456.0,-10066.0,53,1.714286,1.622545

In [40]:
stats.sort_values('commits_4w', ascending=False).head(10)

,twtr_users,tlgm_users,forks,stars,subs,total_issues,closed_issues,pull_merged,pull_contributors,code_adds_4w,code_dels_4w,commits_4w,commits_4w_per_day_mean,commits_4w_per_day_std
icp,665177,31655.0,252,1327,62,111,77,0,0,107064.0,-68044.0,864,14.000000,10.987005
mina,208390,32166.0,447,1782,102,5574,4396,6463,85,15971.0,-18942.0,405,5.821429,6.881931
sui,620402,NaN,12053,5135,145,3108,1980,7455,184,51613.0,-49419.0,277,6.785714,6.337852
sol,2272282,54230.0,3102,10509,270,4948,4271,22229,388,27679.0,-24691.0,205,6.214286,5.942325
btc,5900803,NaN,35444,70546,3941,7528,7176,10834,834,1617.0,-996.0,192,NaN,NaN
klay,159484,NaN,174,344,35,303,242,1368,43,498.0,-782.0,189,4.464286,5.894805
xtz,462083,NaN,129,261,261,576,373,484,47,NaN,NaN,180,NaN,NaN
link,1008917,24396.0,1400,4854,288,408,344,7107,152,107494.0,-37974.0,142,4.500000,4.739650
xlm,749374,NaN,1045,3051,266,1496,1227,1413,78,46568.0,-25283.0,96,1.678571,2.479251
osmo,156631,14102.0,419,760,43,1795,1456,3167,135,10410.0,-4346.0,76,2.392857,2.582071

In [68]:
scores = []
for col in stats.columns:
    scores.extend(list(stats.sort_values(col, ascending=False).head(10).index))

In [69]:
np.unique(scores, return_counts=True)

(array(['ada', 'algo', 'babydoge', 'band', 'bnb', 'bone', 'btc', 'cro',
        'doge', 'dot', 'eth', 'grt', 'hbtc', 'ht', 'icp', 'kcs', 'klay',
        'link', 'ltc', 'mina', 'mx', 'neo', 'okb', 'osmo', 'pepe', 'shib',
        'sol', 'sui', 'ton', 'trx', 'twt', 'waves', 'xlm', 'xmr', 'xrp',
        'xtz', 'zec', 'zil'], dtype='<U8'),
 array([ 1,  2,  1,  1,  3,  2,  9,  1,  5, 10, 10,  1,  1,  1,  5,  1,  3,
         8,  2,  8,  1,  1,  2,  8,  1,  2, 11, 11,  1,  1,  1,  1,  5,  7,
         4,  1,  6,  1], dtype=int64))

In [70]:
scores_df = pd.DataFrame(data=np.unique(scores, return_counts=True)[1], columns=['score'],
                         index=np.unique(scores, return_counts=True)[0])
scores_df = scores_df.sort_values('score', ascending=False)
scores_df

          score
sol          11
sui          11
dot          10
eth          10
btc           9
mina          8
osmo          8
link          8
xmr           7
zec           6
doge          5
xlm           5
icp           5
xrp           4
bnb           3
klay          3
algo          2
okb           2
shib          2
ltc           2
bone          2
trx           1
ton           1
twt           1
xtz           1
waves         1
ada           1
pepe          1
neo           1
mx            1
kcs           1
ht            1
hbtc          1
grt           1
cro           1
band          1
babydoge      1
zil           1

In [71]:
[tkn.upper() for tkn in scores_df.index]

['SOL',
 'SUI',
 'DOT',
 'ETH',
 'BTC',
 'MINA',
 'OSMO',
 'LINK',
 'XMR',
 'ZEC',
 'DOGE',
 'XLM',
 'ICP',
 'XRP',
 'BNB',
 'KLAY',
 'ALGO',
 'OKB',
 'SHIB',
 'LTC',
 'BONE',
 'TRX',
 'TON',
 'TWT',
 'XTZ',
 'WAVES',
 'ADA',
 'PEPE',
 'NEO',
 'MX',
 'KCS',
 'HT',
 'HBTC',
 'GRT',
 'CRO',
 'BAND',
 'BABYDOGE',
 'ZIL']

In [72]:
stats.isna().sum()

twtr_users                   0
tlgm_users                  67
forks                        0
stars                        0
subs                         0
total_issues                 0
closed_issues                0
pull_merged                  0
pull_contributors            0
code_adds_4w               124
code_dels_4w               124
commits_4w                   0
commits_4w_per_day_mean    139
commits_4w_per_day_std     139
dtype: int64

In [102]:
stats_nonan = stats.dropna(axis=1)

In [103]:
stats_nonan

,twtr_users,forks,stars,subs,total_issues,closed_issues,pull_merged,pull_contributors,commits_4w
btc,5900803,35444,70546,3941,7528,7176,10834,834,192
eth,3088655,18083,43057,2213,7376,7122,5391,845,53
usdt,381554,0,0,0,0,0,0,0,0
xrp,2659958,1454,4340,510,1224,922,546,49,19
bnb,10646893,2136,3832,499,126,126,55,26,0
...,...,...,...,...,...,...,...,...,...
rbn,41372,0,0,0,0,0,0,0,0
bora,162305,0,0,0,0,0,0,0,0
one,403595,289,1457,95,1176,1105,2681,74,21
unibot,15059,0,0,0,0,0,0,0,0
krd,13493,0,0,0,0,0,0,0,0

In [104]:
stats_nonan.loc[:, 'rank'] = np.zeros(200)

C:\Users\aeali\AppData\Local\Temp\ipykernel_7584\3556302048.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats_nonan.loc[:, 'rank'] = np.zeros(200)

In [105]:
stats_nonan

,twtr_users,forks,stars,subs,total_issues,closed_issues,pull_merged,pull_contributors,commits_4w,rank
btc,5900803,35444,70546,3941,7528,7176,10834,834,192,0.0
eth,3088655,18083,43057,2213,7376,7122,5391,845,53,0.0
usdt,381554,0,0,0,0,0,0,0,0,0.0
xrp,2659958,1454,4340,510,1224,922,546,49,19,0.0
bnb,10646893,2136,3832,499,126,126,55,26,0,0.0
...,...,...,...,...,...,...,...,...,...,...
rbn,41372,0,0,0,0,0,0,0,0,0.0
bora,162305,0,0,0,0,0,0,0,0,0.0
one,403595,289,1457,95,1176,1105,2681,74,21,0.0
unibot,15059,0,0,0,0,0,0,0,0,0.0
krd,13493,0,0,0,0,0,0,0,0,0.0

In [109]:
for col in stats_nonan.columns[:-1]:
    stats_nonan = stats_nonan.sort_values(col, ascending=False)
    stats_nonan.loc[:, 'rank'] += np.arange(200)

In [113]:
list(stats_nonan.sort_values('rank', ascending=True).index)

['btc',
 'eth',
 'sol',
 'dot',
 'sui',
 'xmr',
 'trx',
 'link',
 'xrp',
 'xlm',
 'mina',
 'grt',
 'avax',
 'algo',
 'doge',
 'one',
 'zec',
 'zil',
 'osmo',
 'waves',
 'ada',
 'celo',
 'xtz',
 'cro',
 'neo',
 'vet',
 'bnb',
 'astr',
 'snx',
 'dcr',
 'kava',
 'ltc',
 'klay',
 'qtum',
 'dash',
 'atom',
 'rvn',
 'icp',
 'ont',
 'bat',
 'hot',
 'ceth',
 'comp',
 'xem',
 'btt',
 'crv',
 'aave',
 'iost',
 'lrc',
 'btg',
 'ftm',
 'band',
 'matic',
 'enj',
 'fet',
 'ldo',
 'theta',
 'ant',
 'kas',
 'reth',
 'usdc',
 'rpl',
 'bal',
 'bsv',
 'tusd',
 'glm',
 'cvxcrv',
 'cvx',
 'cfx',
 'rune',
 'gno',
 'bdx',
 'usdp',
 'wbtc',
 'yfi',
 'nexo',
 'bone',
 'shib',
 'okb',
 'near',
 'lunc',
 'kcs',
 'twt',
 'babydoge',
 'leo',
 'hbtc',
 'gusd',
 'sand',
 'ape',
 'cake',
 'ht',
 'pepe',
 'ustc',
 'uni',
 'luna',
 '1inch',
 'ilv',
 'chz',
 'dydx',
 'woo',
 'imx',
 'xrd',
 'eurt',
 'inj',
 'steth',
 'icx',
 'wbt',
 'jst',
 'ton',
 'audio',
 'bgb',
 'gala',
 'rlb',
 'xec',
 'fil',
 'seth2',
 'op',
 'magic',
 'egld',
 'rndr',
 'xch',
 'qnt',
 'mx',
 'ohm',
 'axs',
 'arb',
 'ethw',
 'lusd',
 'gmt',
 'nxm',
 'cspr',
 'usdt',
 'elg',
 'xaut',
 'etc',
 'floki',
 'apt',
 'busd',
 'gt',
 'fnsa',
 'ar',
 'sfp',
 'paxg',
 'dfi',
 'gfarm2',
 'wld',
 'alusd',
 'ankr',
 'agix',
 'bch',
 'mana',
 'hbar',
 'azero',
 'tomi',
 'xdc',
 'glmr',
 'waxp',
 'flow',
 'flex',
 'sc',
 'sxp',
 'tfuel',
 'okt',
 'dai',
 'ksm',
 'rose',
 'krd',
 'ens',
 'flr',
 'miota',
 'omi',
 'mkr',
 'cusdt',
 'mnt',
 'cusdc',
 'blur',
 'hnt',
 'iotx',
 'cdai',
 'rbn',
 'eos',
 'usdd',
 'ocean',
 'wemix',
 'bora',
 'unibot',
 'btse',
 'mask',
 'frax',
 'gmx',
 'eusd',
 'stx',
 'msol',
 'jasmy',
 'frxeth',
 'sfrxeth',
 'fxs',
 'ox',
 'tkx',
 'ron']